
[submodule "submodules/esp-adf"]
	path = submodules/esp-adf
	url = https://github.com/espressif/esp-adf.git
[submodule "submodules/dataset"]
	path = submodules/dataset
	url = https://github.com/42io/dataset.git
