[submodule "components/kws/c_keyword_spotting"]
	path = bench/components/kws/c_keyword_spotting/c_keyword_spotting
	url = https://github.com/42io/c_keyword_spotting.git
[submodule "vad/components/kws/c_keyword_spotting"]
	path = vad/components/kws/c_keyword_spotting
	url = https://github.com/42io/c_keyword_spotting.git
