CONFIG_PARTITION_TABLE_CUSTOM=y
CONFIG_PARTITION_TABLE_CUSTOM_FILENAME="partitions.csv"

CONFIG_ESP32_DEFAULT_CPU_FREQ_240=y

CONFIG_ESP_LYRATD_MSC_V2_1_BOARD=y

CONFIG_ESPTOOLPY_BAUD_921600B=y
CONFIG_ESPTOOLPY_FLASHSIZE_4MB=y

CONFIG_HEAP_POISONING_DISABLED=y
CONFIG_STACK_CHECK_NONE=y
CONFIG_OPTIMIZATION_LEVEL_RELEASE=y
CONFIG_ESP32_PANIC_PRINT_REBOOT=y
